db.funcionarios.aggregate(
    [ { $match : { empresa : "4Linux" } } ]
);

db.funcionarios.aggregate( [ { $group : { 
  _id : "$empresa" ,
  count: { $sum: 1 }
} } ] )



db.funcionarios.aggregate([ 
	{ $match : { empresa : "UFRR" } },
	{ $group: { _id: null, count: { $sum: 1 } } }	
]);



db.funcionarios.aggregate([ 
	{ $match : { empresa : "Byte" } },
	{ $group: { 
		_id: null,
		Nomes: { $push: "$nome" },
		Cargos: { $push: "$cargo" }
	} },
	{"$project" : {"_id":0, "Nomes":1, "Cargos":1}}
]);

		
db.funcionarios.aggregate([ 
	{ $match : { empresa : "UFRR" } },
	{ $group: { 
		_id: "$cargo", 
		total: { $sum: 1 }, 
		salMínimo: { $min: "$salario" }, 
		salMáximo: { $max: "$salario" }, 
		salMédio: { $avg: "$salario" } } }	
]);



 
db.funcionarios.aggregate([
  {
    $match : { "contrato.fim": { $lte: new ISODate("2020-10-05") } }
  },
  {
    $group : {
       _id : { $dateToString: { format: "%Y-%m-%d", date: "$contrato.fim" } },
	   Nome: {$push: "$nome"},
	   Sobrenome: {$push: "$sobrenome"},
	   Empresa: {$push: "$empresa"},
    }
  },
  {$project: {
            _id: 0,
			Nome:1,
			Sobrenome:1,
			Empresa:1,
            dataDesligamento: '$_id',    
        }}
		
 ])
 
 

db.funcionarios.aggregate([
  {
	 $match: { $or: [ { "contrato.fim": { $gte: new ISODate("2020-10-05") } }, { "contrato.fim": "" } ] } 
  },
  {
    $group : {
       _id : "$cod",
	   Nome: {$push: "$nome"},
	   Cargo: {$push: "$cargo"},
	   
    }
  },
  {$project: {
            _id: 0,
			Nome:1,
			Cargo:1,
			dataInício:1,
                
        }}
		
 ])
 
 
db.funcionarios.aggregate([
  {
	 $match: { $or: [ { "contrato.fim": { $gte: new ISODate("2020-10-05") } }, { "contrato.fim": "" } ] } 
  },
  {
    $group : {
       _id : "$cod",
	   Nome: {$push: "$nome"},
	   Cargo: {$push: "$cargo"},
	   Inicio: {$push:"$contrato.inicio"},
	    
	   
    }
  },
  $addFields : {
            sent : {$subtract: [ "$maxValue", "$minValue" ]}
        },
  {$project: {
            _id: 0,
			Nome:1,
			Cargo:1,
			Inicio:1,
			Hoje:new ISODate("2020-10-05"),
            totalHourSpent:{$divide : [{$subtract: [Inicio,Hoje]}, 3600000]}     
        }}
		
 ])
 
 
 